<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.untoldwind.moredread.model.generators" name="MoreDread Generators" schema="schema/generators.exsd"/>
   <extension point="net.untoldwind.moredread.model.generators">
      <generator
            class="net.untoldwind.moredread.model.generator.CubeMeshGenerator"
            id="net.untoldwind.moredread.model.generators.cube"
            name="Cube">
      </generator>
      <generator
            class="net.untoldwind.moredread.model.generator.OctahedronMeshGenerator"
            id="net.untoldwind.moredread.model.generators.octahedron"
            name="Octahedron">
      </generator>
      <generator
            class="net.untoldwind.moredread.model.generator.DodecahedronMeshGenerator"
            id="net.untoldwind.moredread.model.generators.octahedron"
            name="Dodecahedron">
      </generator>
   </extension>

</plugin>
