<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.untoldwind.moredread.model.io" name="MoreDread IO" schema="schema/io.exsd"/>
   <extension
         point="net.untoldwind.moredread.model.io">
      <file-io
            extension="muf"
            id="net.untoldwind.moredread.model.io.muf"
            label="MUF (Most Useless Format)"
            readerClass="net.untoldwind.moredread.model.io.impl.muf.MUFModelReader"
            writerClass="net.untoldwind.moredread.model.io.impl.muf.MUFModelWriter">
      </file-io>
      <file-io
            extension="dae"
            id="net.untoldwind.moredread.model.io.collada"
            label="Collada"
            readerClass="net.untoldwind.moredread.model.io.impl.collada.ColladaReader"
            writerClass="net.untoldwind.moredread.model.io.impl.collada.ColladaWriter">
      </file-io>
   </extension>

</plugin>
