<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.untoldwind.moredread.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="net.untoldwind.moredread.ui.Perspective"
            id="net.untoldwind.moredread.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="net.untoldwind.moredread.ui.views.Model3DView"
            id="net.untoldwind.moredread.ui.model3dview"
            name="3D"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="net.untoldwind.moredread.ui.views.ModelTreeView"
            id="net.untoldwind.moredread.ui.modelTreeView"
            name="Model"
            restorable="true">
      </view>
      <view
            class="net.untoldwind.moredread.ui.views.SelectionModeView"
            id="net.untoldwind.moredread.ui.selectionModeView"
            name="Selection Mode"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="net.untoldwind.moredread.ui.views.ToolSelectionView"
            id="net.untoldwind.moredread.ui.toolSelectionView"
            name="Tools"
            restorable="true">
      </view>
      <view
            class="net.untoldwind.moredread.ui.views.UndoHistoryView"
            id="net.untoldwind.moredread.ui.undoHistoryView"
            name="Undo History"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="net.untoldwind.moredread.ui.views.GeneratorTreeView"
            id="net.untoldwind.moredread.ui.generatorTreeView"
            name="Generators"
            restorable="true">
      </view>
      <view
            class="net.untoldwind.moredread.ui.views.ToolControlView"
            id="net.untoldwind.moredread.ui.toolControlView"
            name="Tool Control"
            restorable="true">
      </view>
      <view
            class="net.untoldwind.moredread.ui.views.SelectionInfoView"
            id="net.untoldwind.moredread.ui.selectionInfoView"
            name="Selection info"
            restorable="true">
      </view>
      <view
            class="net.untoldwind.moredread.ui.views.OptionView"
            id="net.untoldwind.moredread.ui.optionView"
            name="Options"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Selection mode"
            id="net.untoldwind.moredread.ui.selectionMode.category"
            name="Selection mode">
      </category>
      <category
            description="Camera controls"
            id="net.untoldwind.moredread.ui.category.Camera"
            name="Camera">
      </category>
      <category
            id="net.untoldwind.moredread.ui.category.Tools"
            name="Tools">
      </category>
      <commandParameterType
            converter="net.untoldwind.moredread.ui.handlers.SelectionModeParameterValueConverter"
            id="net.untoldwind.moredread.ui.selectionMode"
            type="net.untoldwind.moredread.model.enums.SelectionMode">
      </commandParameterType>
      <command
            categoryId="net.untoldwind.moredread.ui.selectionMode.category"
            defaultHandler="net.untoldwind.moredread.ui.handlers.SelectionModeHandler"
            description="Selection mode"
            id="net.untoldwind.moredread.ui.selectionMode"
            name="Selection mode">
         <commandParameter
               id="net.untoldwind.moredread.ui.selectionMode"
               name="SelectionMode"
               optional="false"
               typeId="net.untoldwind.moredread.ui.selectionMode"
               values="net.untoldwind.moredread.ui.handlers.SelectionModeParameterValues">
         </commandParameter>
      </command>
      <command
            categoryId="net.untoldwind.moredread.ui.category.Camera"
            defaultHandler="net.untoldwind.moredread.ui.handlers.CameraMoveHandler"
            description="Camera move"
            id="net.untoldwind.moredread.ui.cameraMove"
            name="Camera move">
      </command>
      <command
            categoryId="net.untoldwind.moredread.ui.category.Tools"
            defaultHandler="net.untoldwind.moredread.ui.handlers.AbortToolHandler"
            description="Abort tool"
            id="net.untoldwind.moredread.ui.toolAbort"
            name="Abort tool">
      </command>
      <command
            categoryId="net.untoldwind.moredread.ui.category.Tools"
            defaultHandler="net.untoldwind.moredread.ui.handlers.CompleteToolHandler"
            description="Complete tool"
            id="net.untoldwind.moredread.ui.toolComplete"
            name="Complete tool">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.untoldwind.moredread.ui.selectionMode"
            contextId="net.untoldwind.moredread.ui.context.3dview"
            locale="de"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Y">
         <parameter
               id="net.untoldwind.moredread.ui.selectionMode"
               value="OBJECT">
         </parameter>
      </key>
      <key
            commandId="net.untoldwind.moredread.ui.selectionMode"
            contextId="net.untoldwind.moredread.ui.context.3dview"
            locale="en"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Z">
         <parameter
               id="net.untoldwind.moredread.ui.selectionMode"
               value="OBJECT">
         </parameter>
      </key>
      <key
            commandId="net.untoldwind.moredread.ui.selectionMode"
            contextId="net.untoldwind.moredread.ui.context.3dview"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="X">
         <parameter
               id="net.untoldwind.moredread.ui.selectionMode"
               value="FACE">
         </parameter>
      </key>
      <key
            commandId="net.untoldwind.moredread.ui.selectionMode"
            contextId="net.untoldwind.moredread.ui.context.3dview"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="C">
         <parameter
               id="net.untoldwind.moredread.ui.selectionMode"
               value="EDGE">
         </parameter>
      </key>
      <key
            commandId="net.untoldwind.moredread.ui.selectionMode"
            contextId="net.untoldwind.moredread.ui.context.3dview"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="V">
         <parameter
               id="net.untoldwind.moredread.ui.selectionMode"
               value="VERTEX">
         </parameter>
      </key>
      <key
            commandId="net.untoldwind.moredread.ui.cameraMove"
            contextId="net.untoldwind.moredread.ui.context.3dview"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="U">
      </key>
      <key
            commandId="net.untoldwind.moredread.ui.toolAbort"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESC">
      </key>
      <key
            commandId="net.untoldwind.moredread.ui.toolComplete"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ENTER">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.untoldwind.moredread.ui.base.application"
            name="MoreDread">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="MoreDread">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="net.untoldwind.moredread.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.untoldwind.moredread.ui.preferences.Model3DViewPreferencesPage"
            id="net.untoldwind.moredread.ui.mode3dview.preferences"
            name="3DView">
      </page>
      <page
            class="org.eclipse.ui.ExtensionFactory:newKeysPreferencePage"
            id="net.untoldwind.moredread.ui.preferences.KeyBindings"
            name="Keys">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="net.untoldwind.moredread.properties.node">
         <propertyCategory
               category="Basic"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="net.untoldwind.moredread.properties.node">
         <propertyTab
               category="Basic"
               id="net.untoldwind.moredread.properties.node.transformation"
               label="Basic">
         </propertyTab>
         <propertyTab
               category="Basic"
               id="net.untoldwind.moredread.properties.node.advanced"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="net.untoldwind.moredread.properties.node">
         <propertySection
               class="net.untoldwind.moredread.ui.properties.NameSection"
               id="net.untoldwind.moredread.properties.node.transformation.section1"
               tab="net.untoldwind.moredread.properties.node.transformation">
            <input
                  type="net.untoldwind.moredread.model.scene.AbstractSpatialNode">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="net.untoldwind.moredread.properties.node.advanced.section1"
               tab="net.untoldwind.moredread.properties.node.advanced">
            <input
                  type="net.untoldwind.moredread.model.scene.AbstractSpatialNode">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.untoldwind.moredread.ui.generatorNode.objectContribution"
            objectClass="net.untoldwind.moredread.model.scene.GeneratorNode">
         <action
               class="net.untoldwind.moredread.ui.actions.GeneratorNodeActionDelegate"
               id="net.untoldwind.moredread.ui.generatorNode.collapse"
               label="Collapse">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="net.untoldwind.moredread.ui.node.objectContribution"
            objectClass="net.untoldwind.moredread.model.scene.INode">
         <action
               class="net.untoldwind.moredread.ui.actions.DumpNodeActionDelegate"
               id="net.untoldwind.moredread.ui.node.dump"
               label="Dump">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="net.untoldwind.moredread.ui.context.3dview"
            name="In 3D view"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="net.untoldwind.moredread.model.scene.GeneratorNode"
            class="net.untoldwind.moredread.ui.options.node.GeneratorNodeOptions$Factory">
         <adapter
               type="net.untoldwind.moredread.ui.options.IOptionView">
         </adapter>
      </factory>
      <factory
            adaptableType="net.untoldwind.moredread.model.generator.AbstractCenterSizeGenerator"
            class="net.untoldwind.moredread.ui.options.generator.CenterSizeGeneratorOptions$Factory">
         <adapter
               type="net.untoldwind.moredread.ui.options.IOptionView">
         </adapter>
      </factory>
      <factory
            adaptableType="net.untoldwind.moredread.model.generator.BooleanGenerator"
            class="net.untoldwind.moredread.ui.options.generator.BooleanGeneratorOptions$Factory">
         <adapter
               type="net.untoldwind.moredread.ui.options.IOptionView">
         </adapter>
      </factory>
   </extension>

</plugin>
