<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.untoldwind.moredread.ui.tools" name="MoreDread UI Tools" schema="schema/tools.exsd"/>
   <extension
         point="net.untoldwind.moredread.ui.tools">
      <category
            fallback="true"
            id="net.untoldwind.moredread.ui.tool.category.default"
            label="Default"
            visible="false"></category>
      <category
            id="net.untoldwind.moredread.ui.tool.category.utilities"
            label="Utilities"
            fallback="false"
            visible="true">
      </category>
      <category
            id="net.untoldwind.moredread.ui.tool.category.creation"
            label="Creation"
            fallback="false"
            visible="true">
      </category>
      <category
            fallback="false"
            id="net.untoldwind.moredread.ui.tool.category.polygon"
            label="Polygon"
            visible="true">
      </category>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.default"
            class="net.untoldwind.moredread.ui.tools.selection.ObjectSelectionToolHandler"
            icon="icons/SelectionTool.png"
            id="net.untoldwind.moredread.ui.tool.objectSelection"
            label="Select Object"
            type="TOGGLE">
         <enablement
               selectionCount="0-*"
               selectionMode="OBJECT">
         </enablement>
      </tool>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.default"
            class="net.untoldwind.moredread.ui.tools.selection.FaceSelectionToolHandler"
            icon="icons/SelectionTool.png"
            id="net.untoldwind.moredread.ui.tool.faceSelection"
            label="Select Face"
            type="TOGGLE">
         <enablement
               selectionCount="0-*"
               selectionMode="FACE">
         </enablement>
      </tool>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.default"
            class="net.untoldwind.moredread.ui.tools.selection.EdgeSelectionToolHandler"
            icon="icons/SelectionTool.png"
            id="net.untoldwind.moredread.ui.tool.edgeSelection"
            label="Select Edge"
            type="TOGGLE">
         <enablement
               selectionCount="0-*"
               selectionMode="EDGE">
         </enablement>
      </tool>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.default"
            class="net.untoldwind.moredread.ui.tools.selection.VertexSelectionToolHandler"
            icon="icons/SelectionTool.png"
            id="net.untoldwind.moredread.ui.tool.vertexSelection"
            label="Select Vertex"
            type="TOGGLE">
         <enablement
               selectionCount="0-*"
               selectionMode="VERTEX">
         </enablement>
      </tool>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.utilities"
            class="net.untoldwind.moredread.ui.tools.utilities.TriangulateToolHandler"
            icon="icons/Triangulate.png"
            id="net.untoldwind.moredread.ui.tool.triangulate"
            label="Triangulate faces"
            type="PUSH">
         <enablement
               selectionCount="1-*"
               selectionMode="OBJECT">
         </enablement>
         <enablement
               selectionCount="1-*"
               selectionMode="FACE">
         </enablement>
      </tool>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.utilities"
            class="net.untoldwind.moredread.ui.tools.utilities.MergeCoplanarToolHandler"
            icon="icons/MergeCoplanar.png"
            id="net.untoldwind.moredread.ui.tool.mergecoplanar"
            label="Merge coplanar faces"
            type="PUSH">
         <enablement
               selectionCount="1-*"
               selectionMode="OBJECT">
         </enablement>
         <enablement
               selectionCount="1-*"
               selectionMode="FACE">
         </enablement>
      </tool>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.utilities"
            class="net.untoldwind.moredread.ui.tools.utilities.ThicknessToolHandler"
            icon="icons/CreateCube.png"
            id="net.untoldwind.moredread.ui.tool.addThicknessTool"
            label="Add thickness"
            type="PUSH">
         <enablement
               selectionCount="1"
               selectionMode="OBJECT">
         </enablement>
      </tool>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.creation"
            class="net.untoldwind.moredread.ui.tools.creation.CubeCreationToolHandler"
            icon="icons/CreateCube.png"
            id="net.untoldwind.moredread.ui.tool.create.cube"
            label="Create cube"
            type="TOGGLE">
         <enablement
               selectionCount="0-*"
               selectionMode="OBJECT">
         </enablement>
     </tool>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.creation"
            class="net.untoldwind.moredread.ui.tools.creation.OctahedronCreationToolHandler"
            icon="icons/CreateOctahedron.png"
            id="net.untoldwind.moredread.ui.tool.create.octahedron"
            label="Create octahedron"
            type="TOGGLE">
         <enablement
               selectionCount="0-*"
               selectionMode="OBJECT">
         </enablement>
     </tool>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.creation"
            class="net.untoldwind.moredread.ui.tools.creation.DodecahedronCreationToolHandler"
            icon="icons/CreateDodecahedron.png"
            id="net.untoldwind.moredread.ui.tool.create.dodecahedron"
            label="Create dodecahedron"
            type="TOGGLE">
         <enablement
               selectionCount="0-*"
               selectionMode="OBJECT">
         </enablement>
     </tool>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.creation"
            class="net.untoldwind.moredread.ui.tools.creation.IcosahedronCreationToolHandler"
            icon="icons/CreateIcosahedron.png"
            id="net.untoldwind.moredread.ui.tool.create.icocahedron"
            label="Create icosahedron"
            type="TOGGLE">
         <enablement
               selectionCount="0-*"
               selectionMode="OBJECT">
         </enablement>
     </tool>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.creation"
            class="net.untoldwind.moredread.ui.tools.creation.GeosphereCreationToolHandler"
            icon="icons/CreateGeosphere.png"
            id="net.untoldwind.moredread.ui.tool.create.geosphere"
            label="Create Geosphere"
            type="TOGGLE">
         <enablement
               selectionCount="0-*"
               selectionMode="OBJECT">
         </enablement>
      </tool>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.creation"
            class="net.untoldwind.moredread.ui.tools.creation.BooleanCreationToolHandler"
            icon="icons/CreateBoolean.png"
            id="net.untoldwind.moredread.ui.tool.create.boolean"
            label="Create Boolean"
            type="PUSH">
         <enablement
               selectionCount="2"
               selectionMode="OBJECT">
         </enablement>
      </tool>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.polygon"
            class="net.untoldwind.moredread.ui.tools.creation.CreatePolygonToolHandler"
            icon="icons/CreatePolygon.png"
            id="net.untoldwind.moredread.ui.tool.create.polygon"
            label="Create Polygon"
            type="TOGGLE">
         <enablement
               selectionCount="0-*"
               selectionMode="OBJECT">
         </enablement>
      </tool>
      <tool
            categoryId="net.untoldwind.moredread.ui.tool.category.utilities"
            class="net.untoldwind.moredread.ui.tools.utilities.AddMidpointToolHandler"
            icon="icons/AddMidpoint.png"
            id="net.untoldwind.moredread.ui.tool.utility.addMidpoint"
            label="Add midpoint"
            type="PUSH">
         <enablement
               selectionCount="1-*"
               selectionMode="EDGE">
         </enablement>
      </tool>
   </extension>

</plugin>
